.infoList{
	dt{
		width: 269px;
		height: 269px;
		img{
			width: 100%;
			height: 100%;
			cursor: pointer; 
		}
	}
	dd{
		width: 100%;
		overflow: hidden;
		.sellInfo{
			height: 36px;
			line-height: 18px;
			margin-top: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
		  	-webkit-line-clamp: 2;
		  	-webkit-box-orient: vertical;
		}
		/*价格信息*/
		.priceInfo{
			margin-top: 6px;
			span{
				font-size: 18px;
				color: #c71724;
			}
			em{
				margin-top: 4px;
				float: right;
				color: #999;
			}
		}
	}
}