body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,legend,button
form,fieldset,input,textarea,p,blockquote,th,td {
    box-sizing: border-box;
}
/* 酌情修改 */
body {
    background:#fff;
    color:#333;
    font-size:12px; 
    margin-top:5px;
    // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-family: 'Microsoft Yahei', arial, sans-serif ;
}
body,div,dl,dt,dd,ul,li,p,h4,h1,p{
  margin: 0px;
  padding: 0px;
}
/* 短引用的内容可取值：''或"" */
q:before,q:after {content:'';}  

/* 缩写，图片等无边框 */
fieldset,img,abbr,acronym {border:none;}
abbr,acronym {font-variant: normal;}
legend {color:#000;}

em,i,strong{
	font-style: normal;
}
/* 上下标 */
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}

/* 设置表格的边框被合并为一个单一的边框, 指定分隔边框模型中单元格边界之间的距离为0*/
table {   
　　border-collapse: collapse;   
　　border-spacing: 0;   
}   

/* 表格标题及内容居左显示 */
caption,th {text-align: left;}
input,img,select {vertical-align:middle;}

/* 清除列表样式 */
ol,ul {list-style: none;}  

/* 输入控件字体 */
input,button,textarea,select,optgroup,option {
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}

/* 标题元素样式清除 */ 
h1,h2,h3,h4,h5,h6 {   
　　font-weight: normal;   
　　font-size: 100%;   
}   

/* 链接样式，颜色可酌情修改 */
del,ins,a {text-decoration:none;}
a{
	color: #000;
}

/* 鼠标样式 */
input[type="submit"] {cursor: pointer;}
button {cursor: pointer;}
input::-moz-focus-inner { border: none; padding: 0px;}

.clear {clear:both;}
@media screen and (max-width: 1250px){
    body{
      width: 1250px;
    }
  }