.theme-title{
		width: 352px;
		height: 24px;
		margin: 0px auto;
		overflow: hidden;
		.el-col-6{
			float: left;
			.slider{
				width: 100%;
				height: 1px;
				margin-top: 14px;
				background-color: #ccc;
			}
			
		}
		.el-col-10{
			float: left;
			text-align: center;
			.text{
				color: #656565;
				font-size: 20px;
				font-weight: 600;
				img{
	  				width: 24px;
	  				height: 24px;
	  				vertical-align: top;
	  			}
			}
		}
	}